/* .kl-dropdown-menu{
    background-color: #5e72e4;
} */
/* .kl-dropdown-menu a{
    color: b !important;
} */
.kl-dropdown-menu a:hover{
    /* color: black !important; */
    background: #7f00ff!important;
}